#!/bin/env bash

# dconf.ini hash: {{ include (joinPath .chezmoi.homeDir "/.config/dconf/user") | sha256sum }}
BACKUP_DIR={{joinPath .chezmoi.sourceDir "/gnome"}}

echo "Backing up specific GNOME settings"
dconf dump /org/gnome/ >"$BACKUP_DIR/dconf/gnome-settings.dconf"
dconf dump /org/gnome/desktop/ >"$BACKUP_DIR/dconf/desktop-settings.dconf"
dconf dump /org/gnome/shell/ >"$BACKUP_DIR/dconf/shell-settings.dconf"
dconf dump /org/gnome/settings-daemon/plugins/media-keys/ >"$BACKUP_DIR/dconf/keybindings.dconf"
dconf dump /org/gnome/shell/extensions/ >"$BACKUP_DIR/dconf/extension-settings.dconf"
dconf dump /org/gnome/mutter/ >"$BACKUP_DIR/dconf/mutter-settings.dconf"

echo "Creating list of installed extensions..."
gnome-extensions list >"$BACKUP_DIR/installed-extensions.txt"
