#!/bin/env bash

# desktop-settings.dconf hash: {{ include (joinPath .chezmoi.sourceDir "/gnome/dconf/desktop-settings.dconf") | sha256sum }}
# extension-settings.dconf hash: {{ include (joinPath .chezmoi.sourceDir "/gnome/dconf/extension-settings.dconf") | sha256sum }}
# gnome-settings.dconf hash: {{ include (joinPath .chezmoi.sourceDir "/gnome/dconf/gnome-settings.dconf") | sha256sum }}
# keybindings.dconf hash: {{ include (joinPath .chezmoi.sourceDir "/gnome/dconf/keybindings.dconf") | sha256sum }}
# mutter-settings.dconf hash: {{ include (joinPath .chezmoi.sourceDir "/gnome/dconf/mutter-settings.dconf") | sha256sum }}

SOURCE_DIR={{joinPath .chezmoi.sourceDir "/gnome"}}

echo "Restoring GNOME settings"

if [ -f "$SOURCE_DIR/dconf/desktop-settings.dconf" ]; then
    echo "Restoring desktop settings..."
    dconf load /org/gnome/desktop/ < "$SOURCE_DIR/dconf/desktop-settings.dconf"
fi

if [ -f "$SOURCE_DIR/dconf/mutter-settings.dconf" ]; then
    echo "Restoring mutter settings..."
    dconf load /org/gnome/mutter/ < "$SOURCE_DIR/dconf/mutter-settings.dconf"
fi

if [ -f "$SOURCE_DIR/dconf/shell-settings.dconf" ]; then
    echo "Restoring shell settings..."
    dconf load /org/gnome/shell/ < "$SOURCE_DIR/dconf/shell-settings.dconf"
fi

if [ -f "$SOURCE_DIR/dconf/keybindings.dconf" ]; then
    echo "Restoring keybindings..."
    dconf load /org/gnome/settings-daemon/plugins/media-keys/ < "$SOURCE_DIR/dconf/keybindings.dconf"
fi

if [ -f "$SOURCE_DIR/dconf/extension-settings.dconf" ]; then
    echo "Restoring extension settings..."
    dconf load /org/gnome/shell/extensions/ < "$SOURCE_DIR/dconf/extension-settings.dconf"
fi
