@define-color accent_color #7daea3;
@define-color accent_bg_color #7daea3;
@define-color accent_fg_color #202020;
@define-color destructive_color #ea6962;
@define-color destructive_bg_color #ea6962;
@define-color destructive_fg_color #202020;
@define-color success_color #a9b665;
@define-color success_bg_color #a9b665;
@define-color success_fg_color #202020;
@define-color warning_color #d3869b;
@define-color warning_bg_color #d3869b;
@define-color warning_fg_color #202020;
@define-color error_color #ea6962;
@define-color error_bg_color #ea6962;
@define-color error_fg_color #202020;
@define-color window_bg_color #202020;
@define-color window_fg_color #ddc7a1;
@define-color view_bg_color #202020;
@define-color view_fg_color #ddc7a1;
@define-color headerbar_bg_color #2a2827;
@define-color headerbar_fg_color #ddc7a1;
@define-color headerbar_border_color rgba(0.164062, 0.156250, 0.152344, 0.7);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);
@define-color headerbar_darker_shade_color rgba(0, 0, 0, 0.07);
@define-color sidebar_bg_color #2a2827;
@define-color sidebar_fg_color #ddc7a1;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_shade_color rgba(0, 0, 0, 0.07);
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_fg_color @sidebar_fg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_backdrop_color;
@define-color secondary_sidebar_shade_color @sidebar_shade_color;
@define-color card_bg_color #2a2827;
@define-color card_fg_color #ddc7a1;
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color dialog_bg_color #2a2827;
@define-color dialog_fg_color #ddc7a1;
@define-color popover_bg_color #2a2827;
@define-color popover_fg_color #ddc7a1;
@define-color popover_shade_color rgba(0, 0, 0, 0.07);
@define-color shade_color rgba(0, 0, 0, 0.07);
@define-color scrollbar_outline_color #504945;
@define-color blue_1 #7daea3;
@define-color blue_2 #7daea3;
@define-color blue_3 #7daea3;
@define-color blue_4 #7daea3;
@define-color blue_5 #7daea3;
@define-color green_1 #a9b665;
@define-color green_2 #a9b665;
@define-color green_3 #a9b665;
@define-color green_4 #a9b665;
@define-color green_5 #a9b665;
@define-color yellow_1 #d8a657;
@define-color yellow_2 #d8a657;
@define-color yellow_3 #d8a657;
@define-color yellow_4 #d8a657;
@define-color yellow_5 #d8a657;
@define-color orange_1 #e78a4e;
@define-color orange_2 #e78a4e;
@define-color orange_3 #e78a4e;
@define-color orange_4 #e78a4e;
@define-color orange_5 #e78a4e;
@define-color red_1 #ea6962;
@define-color red_2 #ea6962;
@define-color red_3 #ea6962;
@define-color red_4 #ea6962;
@define-color red_5 #ea6962;
@define-color purple_1 #d3869b;
@define-color purple_2 #d3869b;
@define-color purple_3 #d3869b;
@define-color purple_4 #d3869b;
@define-color purple_5 #d3869b;
@define-color brown_1 #bd6f3e;
@define-color brown_2 #bd6f3e;
@define-color brown_3 #bd6f3e;
@define-color brown_4 #bd6f3e;
@define-color brown_5 #bd6f3e;
@define-color light_1 #2a2827;
@define-color light_2 #2a2827;
@define-color light_3 #2a2827;
@define-color light_4 #2a2827;
@define-color light_5 #2a2827;
@define-color dark_1 #2a2827;
@define-color dark_2 #2a2827;
@define-color dark_3 #2a2827;
@define-color dark_4 #2a2827;
@define-color dark_5 #2a2827;
@import 'colors.css';