* {
    border: none;
    border-radius: 0;
    font-family: "DejaVu Sans";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    color: #ddc7a1;
}

window#waybar {
    background: #202020;
}

#workspaces {
    padding: 0 14px;
}

#workspaces button.active {
    border-bottom: 2px solid #ddc7a1;
}

#bluetooth, #pulseaudio, #network {
    padding: 0 8px;
}
